# ==================================================
# IGNORA CONTEÚDO DOS DATASETS
# MAS MANTÉM TXT
# ==================================================

dataset/*
!dataset/*.txt

dataset_original/*
!dataset_original/*.txt

poison/*
!poison/*.txt

# ==================================================
# IGNORA LOGS COMPLETAMENTE
# ==================================================

logs/

# ==================================================
# IGNORA CACHE PYTHON
# ==================================================

__pycache__/
*.pyc

# ==================================================
# IGNORA ARQUIVOS DO SISTEMA
# ==================================================

.DS_Store
Thumbs.db